{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Specify Instance Details{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" required>
    <p>Machine Type</p>
    <fieldset id="machine">
      {% for option in all_machine_types %}
        <input type="radio" name="machine" value={{option[0]}}>{{option[0] + option[1]}}<br>
      {% endfor %}
    </fieldset>
    <label for="storage">SSD Size, in GB</label>
    <input name="storage" id="storage" required>
    <p>Zone</p>
    <fieldset id="zone">
      {% for option in all_zones %}
        <input type="radio" name="zone" value={{option[0]}}>{{option[0] + option[1]}}<br>
      {% endfor %}
    </fieldset>
    <input type="submit" value="Submit">
  </form>
{% endblock %}