{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Upload Config File{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>You should have shared a config.txt file with details on IP addresses of all Google Cloud instances with all participating parties. Please provide a path to upload this file now so you can start running the Secure GWAS protocol.</p>
  <form method="post">
    <label for="fname">Absolute Path of config.txt File: </label>
    <input name="fname" id="fname" required>
  </form>
{% endblock %}